body{
	background-color: #FFF8EB;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: auto;
	column-gap: 16px;
	row-gap: 24px;
	margin: 0 16px;

}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: auto;
	grid-column: 1/3;
	grid-row: auto;
	column-gap: 16px;
	row-gap: 24px;
	margin-top: 32px;
}

h2{
	text-align: center;
	padding: 8px;
	background-image: url("/img/titles-2.png");
	margin: 0;
	color: #FFF8EB;
	font-family: "swear-display", serif;
	font-style: normal;
	font-size: 40px;
	grid-column: 1/3;

	margin-left: -16px;
	width: calc(100% + 32px);
}

h3{
	text-align: center;
	color: #3E7CA1;
	font-size: 40px;
	margin: 0;
}

a {
	font-family: Zain;
	font-style:normal;
}

img {
	width:100%;

}

p {
	color: #394C62;
	font-family: Zain;
	font-style:normal;
	font-size: 24px;
	margin: 0;
}



.two-column {
grid-column: 1/3;
text-align: center;

}

footer{
	margin-top: 72px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: auto;
	grid-column: 1/3;
	grid-row: auto;
	column-gap: 16px;
	row-gap: 16px;
	margin-top: 32px;
	background-color: #3E7CA1;
	color: #FFF8EB;
	width: calc(100% + 8px);
	padding:16px;
	margin-left: -16px;
	
}

.small-screen {
	/*position: absolute;
    bottom: 0;*/
}

footer a {
	color: #FFF8EB;
	font-size: 16px;
}

.youtube-logo {
	color: #FFF8EB;
	width: 40px;
	align-self: center;
}

.icon-f1 {
grid-column:2;
grid-row: 1;
font-size: 32px;
font-family: 'Material Symbols Outlined';
font-weight:bold;
color: #FFF8EB;
display: flex;
justify-self: end;
column-gap: 16px;
}

.col-1 {
	grid-column: 1/2;
}

.col-2 {
	grid-column: 2/3;
}



  .button {
	background-color: #C1CC89;
	color: #394C62;
	font-family: Zain;
	font-style:normal;
	font-size: 24px;
	text-align: center;
	border: none;
		border-radius: 5px;
		padding: 8px;

  }

 
  .nav-icon {
	grid-column:2;
	grid-row: 1;
	font-size: 32px;
    font-family: 'Material Symbols Outlined';
    font-weight:bold;
    font-style:normal;
	color: #3E7CA1;

	display: flex;
	justify-self: end;
	column-gap: 16px;
	
	
  }

  .home-icon {
	grid-column:2;
	grid-row: 1;
	font-size: 32px;
    font-family: 'Material Symbols Outlined';
    font-weight:bold;
	color: #3E7CA1;
	display: flex;
	justify-self: end;
	column-gap: 16px;
  }

  .home-icon, a {
	text-decoration: none;
  }

  .menu-icon {
	cursor: pointer;
  }

  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #3E7CA1;
	color: #FFF8EB;
    grid-column: 1/3;
    padding-bottom: 18px;
    border-radius: 15px;
	text-align: center;
  }
  .content :hover {
	font-size: 28px;
  }

  .content a{
    color: #FFF8EB;
    border-radius: 16px;
    margin-bottom: 16px;
	font-size: 24px;
    transform: translateY(2px); /* Slight shift for smooth animation */
    transition: all .2s ease-in-out; /* Smooth transition */
    
  }

  .hero-img {
	grid-column: 1/3;
	border-radius: 0px;
	width: calc(100% + 32px);
	margin-left: -16px;
  }

  #result {
	grid-column: 1/3;
  }

  .collapsible {
    border-radius: 5px;
	cursor: pointer;
	color: #FFF8EB;
	font-family: Zain;
	font-size: 16px;
	grid-column: 1/3;
	background-color: #3E7CA1;
	
	border: none;
		border-radius: 5px;
		padding: 8px;
	

  }
  .p-content {
    padding: 0px;
    display: none;
    overflow: hidden;
	color: #FFF8EB;
    grid-column: 1/3;
    border-radius: 5px;
	text-align: left;
	font-size: 16px;
  }
 
  .p-content a{
    color: #FFF8EB;
    border-radius: 16px;
    margin-bottom: 16px;
	font-size: 16px;
    /*left: calc(10% + 50%);*/
    justify-self: left;
    transform: translateY(-10px); /* Slight shift for smooth animation */
    transition: all .2s ease-in-out; /* Smooth transition */
    
  }

  .bigtext {
	font-size: 160px;
  }

.youtube {
	width: 100%;
	aspect-ratio: 16/9;
	color: #FFF8EB;
	align-items: center;
	justify-items: end;
}

.youtube img {
	width: 40px;
	height: 40px;
	align-self:self-end;
	justify-self: center;
}

.secondary {
	background-color:#3E7CA1;
	color: #FFF8EB;
}
  .content-b {
	margin-top: 8px;
	  padding: 24px;
	  
	  flex-basis: 100%;
	  justify-self: center;
	  /*aspect-ratio: 1 / 1;*/
	  resize:both;
	  overflow:hidden;
	  place-content: center;
  }

/*Customer testimonials*/
.slideshow-container {
    max-width: 800px;
    grid-column: 1 / 3;
    position: relative;
    margin: auto;
    width: 70%;
    
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #3E7CA1;
    font-weight: bold;
    font-size: 24px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
  }
  /* Position the "next button" to the right */
  .next {
    right: -50px;
    border-radius: 3px 3px 3px 3px;
  }
  .prev {
      left: -50px; /* Adjust this value to control distance from the left edge */
      border-radius: 3px 3px 3px 3px;
    }
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #3E7CA1;
    color: #FFF8EB;
  }

  .mySlides1 img {
	border-color: #3E7CA1;
	border-width: 8px;
	border-radius: 5px;
	border-style: double;
	width:95%;
	
  }

 .left {
	text-align: left;
 } 
  /*Meet the team*/
.our-pictures {
	border-radius: 5px;
}
.our-titles {
	font-family: "Zain", serif;
	font-weight: 300;
	font-style: normal;
	color: #3E7CA1;
	font-size: 24px;
	text-align: left;
}

/* Our process*/
.carrot-icon {
	font-size: 32px;
    font-family: 'Material Symbols Outlined';
    font-weight:bold;
    font-style:normal;
	color: #3E7CA1;
	text-align: center;
}

/*form*/

form {
	display: grid;
	grid-template-columns: 50% 50%;

	column-gap: 8px;

}

label {
	font-size: 24px;
	color: #394C62;
	margin: 8px 0px;
	font-family: Zain;

}

input[type=text] {
	border: 
		3px 
		solid #3E7CA1;
	border-radius: 5px;
	width: calc(100% - 24px);
	padding: 8px;
	}

input[type=checkbox] {
	border: 
		3px 
		solid #3E7CA1;
	border-radius: 5px;
	padding: 4px;
	opacity: 100;
	accent-color: #3E7CA1;
	}
input[type=radio] {
	
	border-radius: 5px;
	padding: 4px;
	opacity: 100;
	accent-color: #3E7CA1;
	}

.radio-label {
	color: #3E7CA1;
	padding: 4px;
}

textarea[type=text] {
	border: 
		3px 
		solid #3E7CA1;
	border-radius: 5px;
	width: calc(100% - 24px);
	padding: 8px;
	}

input::file-selector-button {
	background-color: #3E7CA1;
	color: #FFF8EB;
	font-family: Zain;
	font-style:normal;
	font-size: 16px;
	text-align: center;
	border: none;
		border-radius: 5px;
		padding: 8px;

	
	}

.form-button {
	width: calc(100% - 0px);
	background-color: #C1CC89;
	color: #394C62;
	font-family: Zain;
	font-style:normal;
	font-size: 24px;
	border: none;
		border-radius: 5px;
		padding: 8px;
}


.hidden-box {
	display: none; 
	column-gap: 16px;
	align-items: end;
}

.hidden-box img {
	border-radius: 5px;
}

.check-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: end;
}
.check-grid img {
	border-radius: 5px;
}

.item-selection {
	border: 5px solid #3E7CA1;
		border-radius: 5px;
		padding: 8px;
}

  /*Fonts*/
  .swear-display {
	/* light */
	font-family: "swear-display", serif;
	font-weight: 400;
	font-style: normal;
/* light italic */
	font-family: "swear-display", serif;
	font-weight: 400;
	font-style: italic;
/* Swear Display Bold */
	font-family: "swear-display", serif;
	font-weight: 700;
	font-style: normal;
/* Swear Display Bold Italic */
	font-family: "swear-display", serif;
	font-weight: 700;
	font-style: italic;
/* Swear Display Light Cilati */
	font-family: "swear-display-cilati", sans-serif;
	font-weight: 400;
	font-style: normal;
/* Swear Display Bold Cilati */
	font-family: "swear-display-cilati", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .zain-extralight {
	font-family: "Zain", serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .zain-light {
	font-family: "Zain", serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .zain-regular {
	font-family: "Zain", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .zain-bold {
	font-family: "Zain", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .zain-extrabold {
	font-family: "Zain", serif;
	font-weight: 800;
	font-style: normal;
  }
  
  .zain-black {
	font-family: "Zain", serif;
	font-weight: 900;
	font-style: normal;
  }
  
  .zain-light-italic {
	font-family: "Zain", serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .zain-regular-italic {
	font-family: "Zain", serif;
	font-weight: 400;
	font-style: italic;
  }
  
  @media only screen and (min-width:700px) {
	body{
		background-color: #FFF8EB;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-row: auto;
		column-gap: 16px;
		row-gap: 24px;
		margin: 0;
	}
	
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-row: auto;
		grid-column: 1/5;
		grid-row: auto;
		column-gap: 16px;
		row-gap: 24px;
		margin-top: 40px;
		margin-right: 24px;
		margin-left: 24px;
		margin-bottom: 40px;
	}
	
	h2{
		text-align: center;
		padding: 8px;
		background-image: url("/img/titles-2.png");
		border-radius: 8px;
		margin: 0;
		color: #FFF8EB;
		font-family: "swear-display", serif;
		font-style: normal;
		font-size: 40px;
		grid-column: 1/5;
	}
	
	a {
		font-family: Zain;
		font-style:normal;
	}
	
	img {
		width:100%;
	
	}
	
	
	p {
		color: #394C62;
		font-family: Zain;
		font-style:normal;
		font-size: 40px;
	}
	
	
	h3{
		margin-top: 2px;
		text-align: center;
		color: #3E7CA1;
	}
	
	
	form{
		
		width: 45%;
		display: inline-block;
		margin: 20px;
	}
	
	footer{
		margin-top: 3%;
		text-align: center;
	}
	
	.hidden {
		display:none;
	  }
	  .first-input:checked + .hidden {
		display:block;
	  }
	
	  button {
		background-color: #C1CC89;
		border: none;
			border-radius: 3px;
			padding: 8px;
	
	  }
	
	 
	  .nav-icon {
		grid-column:4;
		grid-row: 1;
		font-size: 32px;
		font-family: 'Material Symbols Outlined';
		font-weight:bold;
		font-style:normal;
		color: #3E7CA1;
	
		display: flex;
		justify-self: end;
		column-gap: 16px;
		
		
	  }
	
	  .home-icon {
		grid-column:4;
		grid-row: 1;
		font-size: 32px;
		font-family: 'Material Symbols Outlined';
		font-weight:bold;
		color: #3E7CA1;
		display: flex;
		justify-self: end;
		column-gap: 16px;
		
	  }
	
	  .home-icon, a {
		text-decoration: none;
	  }
	
	  .menu-icon {
	cursor: pointer;
	  }
	
	  .content {
		padding: 18px;
		display: none;
		overflow: hidden;
		background-color: #3E7CA1;
		color: #FFF8EB;
		grid-column: 1/5;
		padding-bottom: 18px;
		border-radius: 15px;
	  }
	  .content :hover {
		font-size: 32px;
		transform: scale(1.1);
	  }
	
	  .content a{
		color: #FFF8EB;
		border-radius: 16px;
		margin-bottom: 16px;
		font-size: 24px;
		/*left: calc(10% + 50%);*/
		justify-self: left;
		transform: translateY(-10px); /* Slight shift for smooth animation */
		transition: all .2s ease-in-out; /* Smooth transition */
		
	  }
	
	  .hero-img {
		grid-column: 1/5;
		border-radius: 0px;
	  }
	
	  #result {
		grid-column: 1/4;
	  }
  }